body {
  font-family: "Montserrat", sans-serif;
}

/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  background-color: #e5e5e5;
  width: 1200px;
  margin: 0 auto;
}

/* main_content styles */
.main_content {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
}
.User_info {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.user_position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.user_name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 20px;
}

.user_information {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  /* width: 100px; */
  margin-bottom: 30px;
}

.Projects {
  margin-left: 50px;
  margin-right: 250px;
  margin-bottom: 30px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.project_list {
  padding: 0;
  margin-left: 25px;
  margin-top: 10px;
}

.project_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project_item_text,
.project_item_text_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project_item_text_link {
  margin-left: 5px;
}

.project_item_text_bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.Work_Experience,
.Education {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 100px;
}

.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.work_position_comapany {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.work_period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.work_slash {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_list {
  padding: 0;
  margin-left: 25px;
}

.work_list_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.education_name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.study_name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}
.study_period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.courses_list {
  padding: 0;
  margin-left: 25px;
}
.courses_list_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 5px;
}
.courses_company {
  color: #595959;
}
.comapany_image {
  width: 40px;
}

/* leftbar styles */
.leftbar {
  background-color: #1e2939;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
  width: 370px;
}

.image {
  width: 370px;
  padding-bottom: 10px;
}

.Contacts,
.Tech_Skills,
.Soft_Skills,
.Languages {
  margin-left: 30px;
  margin-bottom: 30px;
}

.leftbar_title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

/* Contact style */
.contact_type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-right: 5px;
  margin-left: 10px;
}

.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #c1b9b6;
}

/* TechSkills, Soft Skills, Languages style */
.Tech_Skills_list,
.Soft_Skills_list,
.Languages_list {
  padding: 0;
  margin-left: 25px;
}

.Tech_Skills_list_item,
.Soft_Skills_list_item,
.Languages_list_item {
  color: #fb6d3a;
}

.Tech-skills__libr {
  padding-left: 15px;
}

.Tech_Skills_list_item_text,
.Soft_Skills_list_item_text,
.Languages_list_item_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
}
a {
  text-decoration: none;
  color: #000000;
}

.courses_list_certification {
  margin-top: 5px;
}
